<h1>Profile Page</h1>

<h2></h2>

<% if @current_user.present? %>

 <%= link_to "edit profile", edit_user_path(@current_user) %>
 |
 <%= link_to "new post", new_post_path %>
 |
 <%= link_to "other users", users_path %>
 |
 <%= link_to "other posts", post_path %>

<% else %>

  <%= link_to 'login', login_path %>

<% end %>

<br>

<% if @user.header.nil? %>
  <% image_tag 'default-header.jpg', :size => '600x600' %>
<% else %>
  <% image_tag @user.header %>
<% end %>

<br>

<% if @current_user.present? && @user.id == @current_user.id %>
  Welcome back <%= @user.name %>
<% else %>
  <%= @user.name %>
<% end %>

<% if @user.profile.nil? %>
  <%= image_tag 'default-profile.png', :size => '50x50' %>
<% else %>
  <%= image_tag @user.profile %>
<% end %>

<% @user.posts.each do |post| %>
  <p><%= link_to post.title, post_path %></p>
<% end %>

<% if @user == @current_user %>
  <%= link_to 'Edit Profile', edit_user_path(@current_user), class: 'btn edit-button' %>
<% else %>
  <% if current_user_is_following(@current_user.id, @user.id) %>
    <%= link_to 'Following', unfollow_user_path(@user.id), remote: true, class: 'btn unfollow-button', id: 'unfollow-button', method: :post %>
  <% else %>
    <%= link_to 'Follow', follow_user_path(@user.id), remote: true, class: 'btn follow-button', id: 'follow-button', method: :post %>
  <% end %>
<% end %>
