<h1>Profile Page</h1>

<nav>
  <% if @current_user.present? %>
    <div class="user-links" >
       <%= link_to "edit profile", edit_user_path(@current_user) %>
    </div>
     |
     <div class="user-links" >
       <%= link_to "new post", new_post_path %>
     </div>
     |
     <div class="user-links" >
       <%= link_to "other users", users_path %>
     </div>
     |
     <div class="user-links" >
       <%= link_to "other posts", posts_path %>
     </div>

    <% else %>
    <div class="user-links" >
      <%= link_to 'login', login_path %>
    </div>
  <% end %>
</nav>

<br>

<% if @user.header.nil? %>
  <%= image_tag 'default-header.jpg'  %>
<% else %>
  <%= image_tag @user.header %>
<% end %>

<br>

<% if @current_user.present? && @user.id == @current_user.id %>
  welcome back <%= @user.name %>
<% else %>
  <%= @user.name %>
<% end %>

<% if @user.profile.nil? %>
  <%= image_tag 'default-profile.png', :size => '50x50' %>
<% else %>
  <%= image_tag @user.profile, :size => '50x50' %>
<% end %>

<% @user.posts.each do |post| %>
  <p><%= link_to post.title, post_path(post) %></p>
<% end %>

<% if @user.id == @current_user.id %>
  <!-- <%= link_to 'Edit Profile', edit_user_path(@current_user.id), class: 'btn edit-button' %> -->
<% else %>
  <% if current_user_is_following(@current_user.id, @user.id) %>
    <%= link_to 'Following', unfollow_user_path(@user.id), remote: true, class: 'btn unfollow-button', id: 'unfollow-button', method: :post %>
  <% else %>
    <%= link_to 'Follow', follow_user_path(@user.id), remote: true, class: 'btn follow-button', id: 'follow-button', method: :post %>
  <% end %>
<% end %>

<script>
  // Week 7 code below:
  $(document).ready(function () {
    $('.btn.unfollow-button, .btn.follow-button').on('ajax:success', function (response) {
      if ($(this).is('#unfollow-button')) {
        $('#unfollow-button').text('Follow').attr('class','btn follow-button')
        .attr('href', "/<%= @user.id %>/follow_user").attr('id', 'follow-button');
      } else {
        $('#follow-button').attr('class', 'btn unfollow-button').text('Following')
        .attr('href', "/<%= @user.id %>/unfollow_user").attr('id', 'unfollow-button');
      }
    });
  })
</script>
