

<meta name="viewport" content="width=device-width, initial-scale=1">

<nav>
<div class="profile-links">
  <% if @current_user.present? %>

    <div class="user-links" >
      <%= link_to 'home', root_path %>
    </div>
       |
    <div class="user-links" >
      <%= link_to "profile", user_path(@current_user.id) %>
    </div>
        |
    <div class="user-links" >
      <%= link_to "sign out #{ @current_user.name }", login_path, :method => 'delete' %>
    </div>
     <% else %>
    <div class="user-links" >
       <%= link_to 'sign up', new_user_path %>
    </div>
        |
    <div class="user-links" >
       <%= link_to 'login', login_path %>
    </div>
     <% end %>
     |
  </div>
   <%= image_tag "home/logo.png", :class => "logo" %>
</nav>


    <h1>food</h1>

<div class="row">

  <div class="col-xs-6 col-md-4">
      <div class="polaroid" style="transform: rotateZ(<%= rand(-5..5) %>deg); margin-top: 50px; margin-left: 40px">
        <p>whoa!</p>
        <%= image_tag "food/food-1.jpg", :class => "img-responsive", :alt => "Responsive image" %>
      </div>
  </div>

  <div class="col-xs-6 col-md-4">
      <div class="polaroid" style="transform: rotateZ(<%= rand(-5..5) %>deg); margin-top: 0px">
        <p>yum!</p>
        <%= image_tag "food/food-3.jpg", :class => "img-responsive", :alt => "Responsive image" %>
      </div>
  </div>

  <div class="col-xs-6 col-md-4">
      <div class="polaroid" style="transform: rotateZ(<%= rand(-5..5) %>deg); margin-top: 40px; margin-right: 40px">
        <p>delicious</p>
        <%= image_tag "food/food-5.jpg", :class => "img-responsive", :alt => "Responsive image" %>
      </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-6 col-md-4">
      <div class="polaroid" style="transform: rotateZ(<%= rand(-5..5) %>deg); margin-top: 100px; margin-left: 40px">
        <p>cheeky</p>
        <%= image_tag "food/food-2.jpg", :class => "img-responsive", :alt => "Responsive image" %>
      </div>
  </div>

  <div class="col-xs-6 col-md-4">
      <div class="polaroid" style="transform: rotateZ(<%= rand(-5..5) %>deg); margin-top: 40px">
        <p>that looks great</p>
        <%= image_tag "food/food-4.jpg", :class => "img-responsive", :alt => "Responsive image" %>
      </div>
  </div>

  <div class="col-xs-6 col-md-4">
      <div class="polaroid" style="transform: rotateZ(<%= rand(-5..5) %>deg); margin-top: 80px; margin-right: 40px">
        <p>indulge!</p>
        <%= image_tag "food/food-6.jpg", :class => "img-responsive", :alt => "Responsive image" %>
      </div>
  </div>

</div>
