<h1>Update post</h1>

<% if @post.id == @current_user.id %>

  <%= form_for(@post) do |f| %>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </fieldset>

    <fieldset class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </fieldset>

    <fieldset class="field">
      <%= f.label :caption %><br>
      <%= f.text_area :caption %>
    </fieldset>

    <fieldset class="actions">
      <label></label>
      <%= f.submit 'update me!'%>
    </fieldset>


  <% end %>
<% end %>
