


<nav>
    <div class="profile-links">
        <% if @current_user.present? %>
            <div class="user-links">
                <%= link_to "edit profile", edit_user_path(@current_user) %>
            </div>
            |
            <div class="user-links">
                <%= link_to "new post", new_post_path %>
            </div>
            |
            <div class="user-links">
                <%= link_to "other users", users_path %>
            </div>
            |
            <div class="user-links">
                <%= link_to "other posts", posts_path %>
            </div>
            |
            <div class="user-links">
                <%= link_to 'home', root_path %>
            </div>
            |
            <div class="user-links">
                <%= link_to "profile", user_path(@current_user.id) %>
            </div>
            |
            <div class="user-links">
                <%= link_to "sign out #{ @current_user.name }", login_path, :method => 'delete' %>
            </div>
            <% else %>
                <div class="user-links">
                    <%= link_to 'sign up', new_user_path %>
                </div>
                |
                <div class="user-links">
                    <%= link_to 'login', login_path %>
                </div>
                <% end %>
                    |
    </div>
    <%= image_tag "home/logo.png", :class => "logo" %>
</nav>

<h1>Update post</h1>

<% if @post.id == @current_user.id %>

    <%= form_for @post, :class => "form-horizontal" do |f| %>

        <% if @post.errors.any? %>
            <div id="error_explanation">
                <h3>
                    <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
                <ul>
                    <% @post.errors.full_messages.each do |message| %>
                        <li>
                            <%= message %>
                        </li>
                        <% end %>
                </ul>
            </div>
            <% end %>

                <div class="form-group" style="margin: 0 auto; max-width: 400px">
                    <%= f.label :title %> <br>
                        <%= f.text_field :title, :class => "form-control" %>
                </div>

                <div class="form-group" style="margin: 0 auto; max-width: 400px">
                    <%= f.label :photograph %> <br>
                        <%= f.file_field :photograph, :class => "form-control" %>
                </div>

                <div class="form-group" style="margin: 0 auto; max-width: 400px">
                    <%= f.label :caption %> <br>
                        <%= f.text_area :caption, :class => "form-control" %>
                </div>

                <label></label>
                <div class="button" style="text-align: center">
                    <fieldset class="actions">
                        <label></label>
                        <%= f.submit 'update me!', :class => "btn btn-info" %>
                    </fieldset>
                </div>

                <% end %>
                    <% end %>
