<h1>check out what other users have posted..</h1>


<% @posts.each do |post| %>
  <% next if post.user.id == @current_user.id %>
  <p>
    <%= post.title %>
  </p>

  <p>
    <% if post.photograph.nil? %>
      <%= image_tag 'default-post.jpg', :size => '200x200' %>
    <% else %>
    <%= image_tag(post.photograph) %>
    <% end %>
  </p>
  <p>
    <%= post.caption %>
  </p>

    <% post.comments.each do |comment| %>
      <%= comment.user.user_name %>
      <%= comment.content %>

  <% end %>
<% end %>
