<h1>Make a new post</h1>

<% if @current_user %>

  <%= form_for(@post) do |f| %>

    <fieldset class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </fieldset>

    <fieldset class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </fieldset>

    <fieldset class="field">
      <%= f.label :caption %><br>
      <%= f.text_area :caption %>
    </fieldset>

    <fieldset class="actions">
      <label></label>
      <%= f.submit 'Post me!'%>
    </fieldset>


  <% end %>
<% end %>
