
<nav class="edit-nav">
    <div class="profile-links">

        <% if @current_user.present? %>
            <div class="user-links">
                <%= link_to 'home', root_path %>
            </div>
            |
            <div class="user-links">
                <%= link_to "profile", user_path(@current_user.id) %>
            </div>
            |
            <div class="user-links">
                <%= link_to "sign out #{ @current_user.name }", login_path, :method => 'delete' %>
            </div>
            |
            <% else %>
                <div class="user-links">
                    <%= link_to 'login', login_path %>
                </div>
                |
                <div class="user-links">
                    <%= link_to 'sign up', new_user_path %>
                </div>
                <% end %>

    </div>
    <%= image_tag "home/logo.png", :class => "logo" %>
</nav>

<h1>posts..</h1>

<div class="row-posts">

    <div class="col-md-6">
        <div class="polaroid">

              <% if @post.photograph.nil? %>
                  <%= image_tag 'default-post.jpg', :class => "img-responsive" %>
                  <p><%= @post.title %></p>
                <% else %>
                    <%= image_tag(@post.photograph, :class => "img-responsive") %>
                    <p><%= @post.title %></p>
                        <% end %>
        </div>
    </div>
<div>


<div class="row-comments">
  <div class="col-md-6">
  <br>
  <button class="glyphicon glyphicon-heart"></button>
  <button class="glyphicon glyphicon-cutlery"></button>
  <button class="glyphicon glyphicon-sunglasses"></button>

  <% if @current_user.present? %>
      <%= form_for [@post, @post.comments.new] do |f| %>
          <%= f.text_field :content, placeholder: 'add a comment...' %>
          <%= f.submit 'add comment', :class => "btn btn-danger" %>
      <% end %>
  <% else %>
    <%= link_to 'login', login_path %>
  <% end %>
  </div>
</div>


  <div class="row-comments">
      <div class="col-md-6">
          <%= @post.caption %>
          <hr>
          <% @post.comments.each do |comment| %>
          <p>
              <%#= comment.inspect %>
              <% next unless comment.persisted? # WTF IS GOING ON HERE %>
              <strong><%= comment.user.name %>:</strong>
              <%= comment.content %>
                      <br>
          </p>
          <% end %>
      </div>
    </div>
  </div>


<div>
    <% if @post.user_id == @current_user %>
        <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
</div>


<% if @post.user.id == @current_user.id %>
    <%= link_to 'edit', edit_post_path(@post.id) %>
        |
        <%= link_to 'delete', post_path(@post.id), :method => 'delete'  %>
            <% end %>
