<h2>my posts..</h2>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@post.image.profile_size.url) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.caption %>
</p>

<p>
  <strong>What am I pondering on right now..:</strong>
  <%= @post.comments %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @post.blog_image.profile_size.url %>
  <%= @post.blog_description %>
</p>


<%= link_to 'Edit', user_path(@post) %> |
<%= link_to 'Back', user_path %>
