<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
       <%= link_to 'Home', root_path %>
       <% if @current_user.present? %>
         <%# if @current_user.admin? %>
        <%= link_to "Other users", users_path %>
        <%= link_to "profile", user_path(@current_user.id) %>
        <%= link_to "new post", new_post_path %>
         <%# end %>
        <%= link_to "Edit profile", edit_user_path(@current_user) %>
        <%= link_to "Sign Out #{ @current_user.email }", login_path, :method => 'delete' %>
       <% else %>
         <%= link_to 'Sign Up', new_user_path %>
         <%= link_to 'Sign In', login_path %>
       <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
